<<<<<<< HEAD
<div class="card mt-3">
  <div class="card-header" id="headingOne">
    <h2 class="mb-0">
      <button class="btn btn-transparent" type="button" data-toggle="collapse" data-target="#collapse{{dataValues.id}}"
        aria-expanded="true" aria-controls="collapse{{dataValues.id}}">
        {{dataValues.title}}
      </button>
    </h2>
    {{!-- PROGRESS BAR --}}
    <div class="progress" style="height: 15px;">
      <div class="progress-bar bg-success text-dark" role="progressbar" style="width: {{dataValues.progress}}%;" aria-valuenow="{{dataValues.progress}}" aria-valuemin="0"
        aria-valuemax="100">{{dataValues.progress}}%</div>
=======
<div class="container-fluid" id="accordion-area">
  <div class="card mt-3">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button id="goal-btn" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{dataValues.id}}"
          aria-expanded="true" aria-controls="collapse{{dataValues.id}}">
          {{dataValues.title}}
        </button>
      </h2>
      {{!-- PROGRESS BAR --}}
      <div class="progress" style="height: 2px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
>>>>>>> 613e90fa27ef97ea89837688cbd7fd012ff71464
    </div>
  </div>

<<<<<<< HEAD
  <div id="collapse{{dataValues.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <button type="button" class="btn btn-outline-dark milestone-btn" data-toggle="modal"
      data-target="#milestoneModal" data-goalid="{{dataValues.id}}">Add a Milestone</button>
=======
    <div id="collapse{{dataValues.id}}" class="collapse" aria-labelledby="headingOne"
      data-parent="#accordionExample">
      <div class="card-body overflow-auto">
        {{!-- {{> milestone-button}} --}}


        {{!-- MILESTONE LIST --}}
        <div id="milestone-list">
          <span h2 id="milestone-header">Add Milestones</h2><input id="milestone-input"
              placeholder="Add Milestone - Hit enter"></span>
          <ul id="list"></ul>
        </div>


      </div>
>>>>>>> 613e90fa27ef97ea89837688cbd7fd012ff71464
    </div>
  </div>
</div>
